BODY {
	BACKGROUND: #f8f8f8
}
P.default {
	FONT-SIZE: 8pt; WIDTH: 500px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
DIV.text_block {
	WIDTH: 500px
}
DIV.tb300 {
	WIDTH: 300px
}
DIV.tb350 {
	WIDTH: 350px
}
DIV.tb400 {
	WIDTH: 400px
}
DIV.tb450 {
	WIDTH: 450px
}
DIV.tb500 {
	WIDTH: 500px
}
DIV.tb550 {
	WIDTH: 550px
}
DIV.tb600 {
	WIDTH: 600px
}
PRE.default {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Courier, sans-serif
}
SPAN.crumbs {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
A {
	COLOR: #0d5b95; TEXT-DECORATION: none
}
A:link {
	COLOR: #0d5b95; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0d5b95; TEXT-DECORATION: none
}
A:active {
	COLOR: #9c0000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #9c0000; TEXT-DECORATION: underline
}
A.s01 {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.s01:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.s01:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.s01:active {
	COLOR: #a04040; TEXT-DECORATION: none
}
A.s01:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A.s02 {
	FONT-SIZE: 8pt; COLOR: #6060a0; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif; TEXT-DECORATION: none
}
A.s02:link {
	COLOR: #6060a0; TEXT-DECORATION: none
}
A.s02:visited {
	COLOR: #6060a0; TEXT-DECORATION: none
}
A.s02:active {
	COLOR: #a04040; TEXT-DECORATION: none
}
A.s02:hover {
	COLOR: #6060a0; TEXT-DECORATION: underline
}
A.s03 {
	FONT-SIZE: 7pt; COLOR: #6060a0; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif; TEXT-DECORATION: none
}
A.s03:link {
	COLOR: #6060a0; TEXT-DECORATION: none
}
A.s03:visited {
	COLOR: #6060a0; TEXT-DECORATION: none
}
A.s03:active {
	COLOR: #a04040; TEXT-DECORATION: none
}
A.s03:hover {
	COLOR: #6060a0; TEXT-DECORATION: underline
}
A.s04 {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.s04:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.s04:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.s04:active {
	COLOR: #a04040; TEXT-DECORATION: none
}
A.s04:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.home_cat_sm_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #003399; FONT-FAMILY: Verdana
}
A.home_cat_sm_bold:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #003399; FONT-FAMILY: Verdana
}
A.home_cat_sm_bold:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #003399; FONT-FAMILY: Verdana
}
A.home_cat_sm_bold:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #003399; FONT-FAMILY: Verdana
}
A.home_cat_sm_bold:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #003399; FONT-FAMILY: Verdana
}
TABLE.old_site_control {
	BACKGROUND: #7386a5
}
TABLE.site_control {
	
}
TABLE.mymaxim_control {
	BACKGROUND: #90a0c0
}
SPAN.mymaxim_s01 {
	COLOR: #ffffff
}
SPAN.mymaxim_s02 {
	COLOR: #fff0a0
}
TABLE.site_banner {
	BORDER-RIGHT: #c0c0c0 1px solid; FONT-SIZE: 8pt; BACKGROUND: #ffffff; BORDER-LEFT: #c0c0c0 1px solid; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
TABLE.main_navbar {
	
}
TD.main_navbar {
	BORDER-RIGHT: #909090 1px solid; FONT-SIZE: 8pt; BORDER-BOTTOM: #909090 1px solid; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif; BACKGROUND-COLOR: #002d5f
}
TD.main_navbar2 {
	FONT-SIZE: 8pt; BORDER-BOTTOM: #909090 1px solid; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif; BACKGROUND-COLOR: #002d5f
}
TABLE.header_standoff {
	BACKGROUND-COLOR: #f0f0f0
}
TABLE.mr_docs {
	BACKGROUND: #eeeeee
}
TABLE.feedback {
	BORDER-RIGHT: #c0c0c0 1px solid; BACKGROUND: #eeeeee; BORDER-LEFT: #c0c0c0 1px solid
}
DIV.footer_standoff {
	BORDER-RIGHT: #c0c0c0 1px solid; BACKGROUND: #eeeeee; BORDER-LEFT: #c0c0c0 1px solid; HEIGHT: 5px
}
TABLE.credits {
	BACKGROUND: #e0e0e0
}
.credits {
	FONT-SIZE: 7pt; COLOR: #808080; FONT-FAMILY: Verdana
}
TABLE.core_perimeter {
	BORDER-RIGHT: #c0c0c0 1px solid; FONT-SIZE: 8pt; BACKGROUND: #eeeeee; BORDER-LEFT: #c0c0c0 1px solid; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
TABLE.ocore2_perimeter {
	BACKGROUND: #ffffff
}
TABLE.icore2_perimeter {
	FONT-SIZE: 8pt; BACKGROUND: #ffffff; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
TR.nav_item {
	
}
TR.nav_item_active {
	BACKGROUND-COLOR: #ffffff
}
P.std_view_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #2a3848; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
SPAN.std_view_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #2a3848; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
P.admin_view_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: darkred; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
SPAN.admin_view_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: darkred; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
P.dev_view_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: darkred; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
SPAN.dev_view_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: darkred; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
SPAN.big_view_title {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #2a3848; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.view_section_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.view_shell {
	MARGIN-TOP: 15px; FONT-SIZE: 8pt; MARGIN-LEFT: 20px; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.tabline {
	BACKGROUND-COLOR: #7090b0
}
.tabbg {
	BACKGROUND-COLOR: #e0e0ff
}
TD.tab_gap {
	BORDER-BOTTOM: #a0a0a0 thin solid; BACKGROUND-COLOR: #ffffff
}
TD.tab_on {
	BORDER-RIGHT: #a0a0a0 thin solid; BORDER-TOP: #a0a0a0 thin solid; BORDER-LEFT: #a0a0a0 thin solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.tab_off {
	BORDER-RIGHT: #a0a0a0 thin solid; BORDER-TOP: #a0a0a0 thin solid; BORDER-LEFT: #a0a0a0 thin solid; BORDER-BOTTOM: #a0a0a0 thin solid; BACKGROUND-COLOR: #e0e0ff; TEXT-ALIGN: center
}
TD.left_nav {
	PADDING-BOTTOM: 2px
}
INPUT.s00 {
	FONT-SIZE: 10pt; FONT-FAMILY: Courier New
}
INPUT.s01 {
	FONT-SIZE: 8pt; FONT-FAMILY: Courier New
}
INPUT.s02 {
	FONT-SIZE: 12pt; FONT-FAMILY: Courier New
}
INPUT.s10 {
	FONT-SIZE: 10pt; FONT-FAMILY: Helvetica
}
INPUT.s11 {
	FONT-SIZE: 8pt; FONT-FAMILY: Helvetica
}
INPUT.s12 {
	FONT-SIZE: 12pt; FONT-FAMILY: Helvetica
}
TEXTAREA.s00 {
	FONT-SIZE: 10pt; FONT-FAMILY: Courier New
}
TEXTAREA.s01 {
	FONT-SIZE: 8pt; FONT-FAMILY: Courier New
}
TEXTAREA.s02 {
	FONT-SIZE: 12pt; FONT-FAMILY: Courier New
}
TEXTAREA.s10 {
	FONT-SIZE: 10pt; FONT-FAMILY: Helvetica
}
TEXTAREA.s11 {
	FONT-SIZE: 8pt; FONT-FAMILY: Helvetica
}
TEXTAREA.s12 {
	FONT-SIZE: 12pt; FONT-FAMILY: Helvetica
}
INPUT.page_header {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; FONT-SIZE: 10pt; BACKGROUND: #f5f5f5; BORDER-LEFT: #808080 1px solid; BORDER-BOTTOM: #808080 1px solid
}
INPUT.small {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
INPUT.default {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
INPUT.small_text {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
INPUT.default_text {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
INPUT.small_btn {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
INPUT.default_btn {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
INPUT.fsmall {
	FONT-SIZE: 8pt; FONT-FAMILY: Courier New
}
TEXTAREA.fsmall {
	FONT-SIZE: 8pt; FONT-FAMILY: Courier New
}
INPUT.fmedium {
	FONT-SIZE: 10pt; FONT-FAMILY: Courier New
}
TEXTAREA.fmedium {
	FONT-SIZE: 10pt; FONT-FAMILY: Courier New
}
SELECT.small {
	FONT-SIZE: 8pt; FONT-FAMILY: Helvetica
}
SELECT.default {
	FONT-SIZE: 8pt; FONT-FAMILY: Helvetica
}
TEXTAREA.small {
	FONT-SIZE: 10pt; FONT-FAMILY: Helvetica
}
TEXTAREA.default {
	FONT-SIZE: 10pt; FONT-FAMILY: Helvetica
}
TABLE.small {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
TABLE.default {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
TR.std_banner {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; BACKGROUND-COLOR: #7090b0
}
TD.std_banner {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; BACKGROUND-COLOR: #7090b0
}
TH.std_banner {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; BACKGROUND-COLOR: #7090b0
}
TR.std_dark {
	BACKGROUND-COLOR: #e0e0e0
}
TR.std_light {
	BACKGROUND-COLOR: #f0f0f0
}
.large_font {
	FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.medium_font {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.small_font {
	FONT-SIZE: 6pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.small_link {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.small_input {
	FONT-SIZE: 8pt; FONT-FAMILY: TimesNewRoman
}
.tiny_font {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.tiny_link {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.large_font_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.medium_font_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.small_font_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 6pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.small_link_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.small_input_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: TimesNewRoman
}
.tiny_font_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.tiny_link_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.nav_bg {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #eeeeee
}
TD {
	FONT-SIZE: 8pt; COLOR: #1f2b38; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
A.muted {
	COLOR: #1f2b68; TEXT-DECORATION: none
}
A.muted2 {
	COLOR: #1f2b88; TEXT-DECORATION: none
}
A.muted3 {
	COLOR: #1f2ba8; TEXT-DECORATION: none
}
.home_head {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.home_head:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.home_head:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.home_head:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #9c0000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.home_head:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #9c0000; FONT-FAMILY: Verdana, Tahoma, Geneva, Arial, sans-serif
}
.home_link1 {
	FONT-SIZE: 8pt; FONT-FAMILY: tahoma, geneva, "MS Sans Serif", sans-serif
}
.home_link2 {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #3c5168
}
.head {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #3c5168
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #3c5168; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #3c5168; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #3c5168; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.subsubhead {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #3c5168; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
#l1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.l1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
#l2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
#l3 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.l2 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.l3 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
#l4 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
#l5 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.l4 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.l5 {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif
}
#l6 {
	FONT-SIZE: 9pt; WIDTH: 100%; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.l6 {
	FONT-SIZE: 9pt; WIDTH: 100%; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
#l7 {
	FONT-SIZE: 8pt; WIDTH: 100%; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.l7 {
	FONT-SIZE: 8pt; WIDTH: 100%; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.tblhead {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif; BACKGROUND-COLOR: #e0ffe0
}
.sp {
	FONT-SIZE: 4pt
}
.text {
	FONT-SIZE: 8pt; COLOR: #000033; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.btext {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.itext {
	FONT-SIZE: 8pt; FONT-STYLE: italic; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.error {
	FONT-SIZE: 8pt; COLOR: #ff0000; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
.nav_head {
	FONT-WEIGHT: normal
}
.nav_head_active {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #ffffff
}
.nav_item {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.nav_sub {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.nav_item_active {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff
}
.nav_sub_active {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #ffffff
}
.breadcrumbs {
	FONT-SIZE: 7pt
}
.abstract {
	FONT-STYLE: italic
}
.small {
	FONT-SIZE: 7pt
}
.smallbold {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt
}
.tablehead {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #7090b0
}
.tablehead:link {
	COLOR: white; TEXT-DECORATION: underline
}
.tablehead:visited {
	COLOR: white; TEXT-DECORATION: underline
}
.tablehead:active {
	COLOR: white; TEXT-DECORATION: underline
}
.tablehead:hover {
	COLOR: white; TEXT-DECORATION: underline
}
.tablesubhead {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #eeeeee
}
.tablesubheadalt {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #e0e0e0
}
.tablebody {
	BACKGROUND-COLOR: #eeeeee
}
.tablebodyalt {
	BACKGROUND-COLOR: #e0e0e0
}
.boxhead {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #7090b0
}
.boxbody {
	BACKGROUND-COLOR: #f0f0f0
}
.red {
	COLOR: red
}
#hd {
	FONT-WEIGHT: bold; COLOR: white; BACKGROUND-COLOR: #7090b0
}
#feat {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #aaaaaa
}
#max1 {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #e0e0e0
}
#max1l {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #e0e0e0
}
#max0 {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #e0e0e0
}
#max0l {
	FONT-SIZE: 8pt; BACKGROUND-COLOR: #e0e0e0
}
.max2b {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #cdd9ec; TEXT-ALIGN: center
}
.max1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #eef1f6; TEXT-ALIGN: center
}
.max1lc {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #eef1f6; TEXT-ALIGN: center
}
.max1l {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #eef1f6; TEXT-ALIGN: left
}
IMG.tl {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 15px; BORDER-BOTTOM: 0px; HEIGHT: 14px
}
IMG.ti {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 15px; BORDER-BOTTOM: 0px; HEIGHT: 14px
}
IMG.tt {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 15px; BORDER-BOTTOM: 0px; HEIGHT: 14px
}
IMG.tz {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 15px; BORDER-BOTTOM: 0px; HEIGHT: 14px
}
IMG.trunk {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 15px; BORDER-BOTTOM: 0px; HEIGHT: 8px
}
IMG.tree {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0px; WIDTH: 13px; BORDER-BOTTOM: 0px; HEIGHT: 12px
}
IMG.table {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0px; WIDTH: 13px; BORDER-BOTTOM: 0px; HEIGHT: 12px
}
IMG.search {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0px; WIDTH: 13px; BORDER-BOTTOM: 0px; HEIGHT: 12px
}
IMG.hp {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0px; WIDTH: 13px; BORDER-BOTTOM: 0px; HEIGHT: 12px
}
TD.ti {
	BACKGROUND-IMAGE: url(http://media.maxim-ic.com/images/IZ.gif)
}
TD.tl {
	BACKGROUND-IMAGE: url(http://media.maxim-ic.com/images/LZ.gif)
}
TD.trunk {
	BACKGROUND-IMAGE: url(http://media.maxim-ic.com/images/IZ.gif)
}
.ecom_welcome_Table {
	BORDER-RIGHT: #013399 1px ridge; BORDER-TOP: #013399 1px ridge; BORDER-LEFT: #013399 1px ridge; BORDER-BOTTOM: #013399 1px ridge
}
.ecom_tablebtm {
	BORDER-RIGHT: #8ca5b5 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: #8ca5b5 1px outset; PADDING-BOTTOM: 1px; BORDER-LEFT: #8ca5b5 1px outset; COLOR: #000060; BORDER-BOTTOM: #8ca5b5 1px outset; FONT-FAMILY: arial; BACKGROUND-COLOR: #cddfe4
}
.tableOddData {
	PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e7f0fa; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tableOddData0 {
	PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e7f0fa; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tableOddData1 {
	PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #ffffff; COLOR: black; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.PageTable {
	BACKGROUND-COLOR: #eeeede
}
A.Options {
	FONT-WEIGHT: normal; FONT-SIZE: 7pt; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
#itemopen {
	Z-INDEX: 20; VISIBILITY: hidden; POSITION: absolute
}
.box {
	BACKGROUND-COLOR: silver
}
.tablebtmdisabled {
	BORDER-RIGHT: #8ca5b5 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: #8ca5b5 1px outset; PADDING-BOTTOM: 1px; BORDER-LEFT: #8ca5b5 1px outset; COLOR: #cccccc; BORDER-BOTTOM: #8ca5b5 1px outset; FONT-FAMILY: arial; BACKGROUND-COLOR: #cddfe4
}
.BTN {
	BORDER-RIGHT: #8ca5b5 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: #8ca5b5 1px outset; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #8ca5b5 1px outset; WIDTH: 72px; COLOR: #000060; BORDER-BOTTOM: #8ca5b5 1px outset; FONT-FAMILY: arial; BACKGROUND-COLOR: #cddfe4
}
.BTN1 {
	BORDER-RIGHT: #8ca5b5 1px outset; PADDING-RIGHT: 1px; BORDER-TOP: #8ca5b5 1px outset; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #8ca5b5 1px outset; WIDTH: 90px; COLOR: #000060; BORDER-BOTTOM: #8ca5b5 1px outset; FONT-FAMILY: arial; BACKGROUND-COLOR: #cddfe4
}
