BODY {
	FONT-SIZE: 12px; MARGIN: 0px auto; COLOR: #555; FONT-FAMILY: "??"; TEXT-ALIGN: center
}
#content {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; WIDTH: 800px; MARGIN-RIGHT: 0px
}
#top {
	BACKGROUND-IMAGE: url(../cjfdimages/top01.jpg); WIDTH: 800px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 90px
}
#top IMG {
	FLOAT: left
}
#top DIV {
	FLOAT: left
}
#top DIV {
	MARGIN-TOP: 19px; HEIGHT: 62px
}
#nav {
	WIDTH: 800px; BACKGROUND-COLOR: #ff0066
}
#nav IMG {
	FLOAT: left
}
#tupd {
	BACKGROUND-POSITION: 0px 0px; FLOAT: left; BACKGROUND-IMAGE: url(../cjfdimages/nav03.jpg); MARGIN: 0px; WIDTH: 758px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 34px; TEXT-ALIGN: center
}
#nav UL LI {
	FLOAT: left; MARGIN: 0px
}
#nav UL {
	MARGIN: 0px auto; WIDTH: 90%; HEIGHT: 34px
}
#nav UL LI {
	MARGIN: 13px 1px 0px 0px; COLOR: #fff
}
#nav UL LI A {
	COLOR: #fff; TEXT-DECORATION: none
}
#nav UL LI A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
#nav UL {
	PADDING-LEFT: 8px
}
#so {
	WIDTH: 800px; BORDER-BOTTOM: #e1e8ef 4px solid; HEIGHT: 194px; BACKGROUND-COLOR: #f0f5fa
}
.so_tlt {
	MARGIN-TOP: 11px; MARGIN-LEFT: 89px; WIDTH: 664px
}
.so_tlt LI {
	FLOAT: left; LINE-HEIGHT: 33px; MARGIN-RIGHT: 10px
}
.sob A {
	COLOR: #894f0b; TEXT-DECORATION: none
}
.sob A:hover {
	TEXT-DECORATION: underline
}
.soa {
	BACKGROUND-IMAGE: url(../cjfdimages/solk01.jpg); WIDTH: 80px; COLOR: #894f0b; BACKGROUND-REPEAT: no-repeat; HEIGHT: 38px
}
.sob {
	FONT-WEIGHT: normal; BACKGROUND-IMAGE: url(../cjfdimages/solk02.jpg); WIDTH: 72px; COLOR: #894f0b; BACKGROUND-REPEAT: no-repeat; HEIGHT: 38px
}
.soc {
	FONT-WEIGHT: normal; MARGIN-LEFT: 45px
}
.soc A {
	COLOR: #03349b; TEXT-DECORATION: none
}
.soc A:hover {
	TEXT-DECORATION: underline
}
.so_kg {
	BORDER-RIGHT: #9aa1a9 1px solid; BORDER-TOP: #9aa1a9 1px solid; MARGIN-TOP: 10px; FLOAT: left; BORDER-LEFT: #9aa1a9 1px solid; WIDTH: 407px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #9aa1a9 1px solid; HEIGHT: 20px
}
.so_bt {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 10px; FLOAT: left; BACKGROUND-IMAGE: url(../cjfdimages/sobt.jpg); BORDER-LEFT: 0px; WIDTH: 60px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.so_lke {
	FONT-WEIGHT: normal; LINE-HEIGHT: 25px
}
.so_lke A {
	COLOR: #03349b; TEXT-DECORATION: none
}
.so_lke A:hover {
	TEXT-DECORATION: underline
}
.so_edwd {
	PADDING-LEFT: 94px; FONT-WEIGHT: normal; LINE-HEIGHT: 22px
}
#left {
	FLOAT: left; WIDTH: 203px; MARGIN-RIGHT: 8px
}
#rt {
	BORDER-RIGHT: #7497d6 1px solid; BORDER-TOP: #7497d6 1px solid; MARGIN-TOP: 0px; FLOAT: left; BORDER-LEFT: #7497d6 1px solid; WIDTH: 587px; BORDER-BOTTOM: #7497d6 1px solid
}
.rta {
	PADDING-LEFT: 20px; FONT-SIZE: 13px; COLOR: #fff; LINE-HEIGHT: 24px; BACKGROUND-COLOR: #7497d6; TEXT-ALIGN: left
}
.rta01 {
	WIDTH: 582px
}
.rta01 {
	FONT-SIZE: 0px; BACKGROUND-IMAGE: url(../cjfdimages/rta01.jpg); LINE-HEIGHT: 9px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 9px
}
#rta02 {
	PADDING-RIGHT: 34px; PADDING-LEFT: 20px; FONT-WEIGHT: normal; LINE-HEIGHT: 25px; PADDING-TOP: 5px; HEIGHT: 77px
}
.rtlt {
	MARGIN-TOP: 9px; BACKGROUND-IMAGE: url(../cjfdimages/rtlt.jpg); MARGIN-LEFT: 13px; WIDTH: 566px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 15px
}
.rtlt H1 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 21px; FONT-SIZE: 13px; FLOAT: left; BACKGROUND-IMAGE: url(../cjfdimages/rtbit01.jpg); PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fff
}
.rtlk {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 31px
}
.rtlk UL {
	MARGIN-TOP: 14px; FLOAT: left; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 271px
}
.rtlk UL LI {
	BACKGROUND-POSITION: 0px 0px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(../cjfdimages/rtbit02.jpg); VERTICAL-ALIGN: top; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px; TEXT-ALIGN: left
}
.rtlk UL LI A {
	COLOR: #555; TEXT-DECORATION: none
}
.rtlk UL LI A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#edd {
	FONT-SIZE: 0px; FLOAT: left; MARGIN: 0px; WIDTH: 500px; LINE-HEIGHT: 2px; HEIGHT: 3px
}
#edff {
	FONT-SIZE: 2px; WIDTH: 100%; LINE-HEIGHT: 10px; HEIGHT: 10px
}
#jian {
	MARGIN-TOP: 0px; FLOAT: left; WIDTH: 31px
}
.zongku A {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.zongku A:hover {
	TEXT-DECORATION: underline
}
.rtlk UL LI IMG {
	MARGIN-TOP: -3px; MARGIN-LEFT: 10px; POSITION: absolute
}
.hong {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; COLOR: #ff8400
}
.hong A:hover {
	COLOR: #ff8400; TEXT-DECORATION: underline
}
.gundong {
	COLOR: #555
}
#end_lkk UL {
	FLOAT: left; WIDTH: 300px
}
#end_lkk UL LI {
	FLOAT: left
}
#end_lk {
	FLOAT: left
}
.endlink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 330px; HEIGHT: 25px; TEXT-ALIGN: left
}
.endlink A {
	COLOR: #555; TEXT-DECORATION: none
}
.endlink A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.title_white01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; LINE-HEIGHT: 23px
}
.content_white01 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 23px
}
.content_gray01 {
	FONT-SIZE: 12px; COLOR: #555555; TEXT-DECORATION: none
}
.content_gray02 {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
.content_gray03 {
	FONT-SIZE: 13px; COLOR: #555555; LINE-HEIGHT: 23px; TEXT-DECORATION: none
}
.content_blue01 {
	FONT-SIZE: 12px; COLOR: #2f72c4; TEXT-DECORATION: none
}
.content_yellow01 {
	FONT-SIZE: 12px; COLOR: #fe7f00; TEXT-DECORATION: none
}
.title_red01 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #e22b01; LINE-HEIGHT: 2; TEXT-DECORATION: none
}
.title_red02 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #e22b01; LINE-HEIGHT: 2; TEXT-DECORATION: none
}
.title_blue01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0572c7; LINE-HEIGHT: 2; TEXT-DECORATION: none
}
.title_blue02 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0572c7; LINE-HEIGHT: 2
}
.title_gray01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #555555; LINE-HEIGHT: 2
}
.title_gray02 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 2
}
.title_gray03 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #555555; LINE-HEIGHT: 2
}
.title_yellow01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #fe7f00; LINE-HEIGHT: 23px
}
.title_yellow02 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fe7f00; LINE-HEIGHT: 23px
}
.textfield {
	HEIGHT: 17px; TEXT-DECORATION: none
}
.title_gray20 {
	FONT-WEIGHT: bold; COLOR: #555555; LINE-HEIGHT: 25px; TEXT-DECORATION: none
}
.title_gray20:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.content_gray02:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.content_gray01:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.content_gray03:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.so_edwd2 A {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.blue {
	COLOR: #0572c7
}
.blue A:hover {
	COLOR: #0572c7
}
.yissue {
	FONT-SIZE: 10px; COLOR: #7497d6; FONT-FAMILY: ??
}
