A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #fe7f00; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}
H1 {
	FONT-SIZE: 13px; MARGIN: 0px auto
}
.content_white01 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 23px
}
.content_gray01 {
	FONT-SIZE: 12px; COLOR: #555555
}
.content_gray02 {
	FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 23px
}
.content_gray03 {
	FONT-SIZE: 13px; COLOR: #555555; LINE-HEIGHT: 23px
}
.content_blue01 {
	FONT-SIZE: 12px; COLOR: #2f72c4
}
.content_yellow01 {
	FONT-SIZE: 12px; COLOR: #fe7f00
}
.title_red01 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #e22b01; LINE-HEIGHT: 2
}
.title_red02 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #e22b01; LINE-HEIGHT: 2
}
.title_blue01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #0572c7; LINE-HEIGHT: 2
}
.title_blue02 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0572c7; LINE-HEIGHT: 2
}
.title_gray01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #555555; LINE-HEIGHT: 2
}
.title_gray02 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #555555; LINE-HEIGHT: 2
}
.title_gray03 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #555555; LINE-HEIGHT: 2
}
.title_white01 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 23px
}
.title_yellow01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #fe7f00; LINE-HEIGHT: 23px
}
.title_yellow02 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fe7f00; LINE-HEIGHT: 23px
}
.textfield {
	HEIGHT: 17px
}
.btpage {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../cjfdimages/btbg.gif); BORDER-LEFT: 0px; WIDTH: 60px; COLOR: #0b538b; LINE-HEIGHT: 20px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.lblpage {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 15px; BORDER-LEFT: 0px; WIDTH: 20px; COLOR: #0b538b; LINE-HEIGHT: 20px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.spage {
	FONT-SIZE: 15px; WIDTH: 20px; COLOR: red; LINE-HEIGHT: 20px; HEIGHT: 15px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.btgo {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(btbg.gif); BORDER-LEFT: 0px; WIDTH: 30px; COLOR: #0b538b; LINE-HEIGHT: 20px; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.lblinfo {
	FONT-SIZE: 15px; WIDTH: 20px; COLOR: #0b538b; LINE-HEIGHT: 20px; HEIGHT: 20px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.txtpage {
	WIDTH: 25px; HEIGHT: 20px
}
.letterheader {
	FONT-SIZE: 9pt; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: #a8d8f6; TEXT-ALIGN: center; WORD-WRAP: break-word
}
.letterrow {
	FONT-SIZE: 9pt; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; WORD-WRAP: break-word
}
