#tab {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/tab-line.gif) repeat-x 50% bottom; FLOAT: left; WIDTH: 100%
}
#tab2 UL {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/tab-line.gif) repeat-x 50% bottom; FLOAT: left; WIDTH: 100%
}
#tab UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 764px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; max-width: 764px
}
#tab2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 764px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; max-width: 764px
}
#tab2 UL {
	WIDTH: 1000px; max-width: 1000px
}
#tab LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#tab2 LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#tab A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ticom3-tab-left.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #9e9d9d 1px solid; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#tab2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ticom3-tab-left.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #9e9d9d 1px solid; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
#tab A SPAN {
	PADDING-RIGHT: 9px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ticom3-tab-right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 6px; COLOR: #585858; PADDING-TOP: 10px
}
#tab2 A SPAN {
	PADDING-RIGHT: 9px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ticom3-tab-right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 6px; COLOR: #585858; PADDING-TOP: 10px
}
#tab A SPAN {
	FLOAT: none
}
#tab2 A SPAN {
	FLOAT: none
}
#tab A:hover SPAN {
	COLOR: #ea272a
}
#tab2 A:hover SPAN {
	COLOR: #ea272a
}
#tab #active A {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -118px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#tab2 #active A {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: 0px -118px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#tab #active A SPAN {
	BACKGROUND-POSITION: 100% -119px; PADDING-BOTTOM: 7px; COLOR: #333
}
#tab2 #active A SPAN {
	BACKGROUND-POSITION: 100% -119px; PADDING-BOTTOM: 7px; COLOR: #333
}
#tab A:hover {
	BACKGROUND-POSITION: 0% -118px
}
#tab2 A:hover {
	BACKGROUND-POSITION: 0% -118px
}
#tab A:hover SPAN {
	BACKGROUND-POSITION: 100% -119px
}
#tab2 A:hover SPAN {
	BACKGROUND-POSITION: 100% -119px
}
