.cmpntgen1 .cntboxbody {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0.5em
}
.cmpntgen1 H1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0.8em 0px 0.2em; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.cmpntgen1 P {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0.4em 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 1.2em; BORDER-BOTTOM: 0px
}
.cmpntgen1 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.cmpntgen1 OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.cmpntgen1 UL LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px 0.9em; PADDING-LEFT: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0.4em
}
UNKNOWN {
	BACKGROUND-POSITION: 0px 0.85em
}
.cmpntgen1 UL LI LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0.7em 0.9em; PADDING-LEFT: 1.4em; PADDING-BOTTOM: 0px; PADDING-TOP: 0.2em
}
UNKNOWN {
	BACKGROUND-POSITION: 0.7em 0.85em
}
.cmpntgen1 OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 23px; PADDING-TOP: 0.4em
}
.cmpntgen2 OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 23px; PADDING-TOP: 0.4em
}
.cmpntgen1 OL LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 23px; PADDING-TOP: 0.4em
}
.cmpntgen2 OL LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 23px; PADDING-TOP: 0.4em
}
.cmpntgen2 .cntboxbody {
	PADDING-TOP: 0.2em
}
.cmpntgen2 H1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 1.2em 0px 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 1.3em; BORDER-BOTTOM: 0px
}
.cmpntgen2 P {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0.4em 0px 0.7em; BORDER-LEFT: 0px; LINE-HEIGHT: 1.4em; BORDER-BOTTOM: 0px
}
.cmpntgen2 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.6em; MARGIN: 0px; LINE-HEIGHT: 1.4em; PADDING-TOP: 0px
}
.cmpntgen2 OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.6em; MARGIN: 0px; LINE-HEIGHT: 1.4em; PADDING-TOP: 0px
}
.cmpntgen2 UL UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cmpntgen2 OL OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cmpntgen2 UL LI {
	BACKGROUND-POSITION: 0px 1.2em; PADDING-TOP: 0.6em
}
UNKNOWN {
	BACKGROUND-POSITION: 0px 1.15em
}
.cmpntgen2 UL LI LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0.7em 0.9em; PADDING-LEFT: 1.4em; PADDING-BOTTOM: 0px; PADDING-TOP: 0.2em
}
UNKNOWN {
	BACKGROUND-POSITION: 0.7em 0.85em
}
.cntboxS1 {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat right bottom; MARGIN: 0px 0px 25px
}
.nodestory .cntboxS1 {
	MARGIN: 0px
}
#cmpntselguide .cntboxbody UL A:link {
	COLOR: #ea272a
}
#cmpntselguide .cntboxbody UL A:hover {
	COLOR: #ea272a
}
#cmpntcnthilite .cntboxbody A:link {
	COLOR: #ea272a
}
#cmpntcnthilite .cntboxbody A:hover {
	COLOR: #ea272a
}
#cmpntappnotes .cntboxbody UL A:link {
	COLOR: #ea272a
}
#cmpntappnotes .cntboxbody UL A:hover {
	COLOR: #ea272a
}
.cntboxbody UL.pdf A:link {
	COLOR: #ea272a
}
.cntboxbody UL.pdf A:hover {
	COLOR: #ea272a
}
#cmpntpromo UL A:link {
	COLOR: #ea272a
}
#cmpntpromo UL A:hover {
	COLOR: #ea272a
}
#cmpntnewprod2 A:link {
	COLOR: #ea272a
}
#cmpntnewprod2 A:hover {
	COLOR: #ea272a
}
#cmpntqcksearch A:link {
	COLOR: #ea272a
}
#cmpntqcksearch A:hover {
	COLOR: #ea272a
}
#cmpntselguide .cntboxbody UL A:visited {
	COLOR: #ea272a
}
#cmpntcnthilite .cntboxbody A:visited {
	COLOR: #ea272a
}
#cmpntappnotes .cntboxbody UL A:visited {
	COLOR: #ea272a
}
.cntboxbody UL.pdf A:visited {
	COLOR: #ea272a
}
#cmpntpromo UL A:visited {
	COLOR: #ea272a
}
#cmpntnewprod2 A:visited {
	COLOR: #ea272a
}
#cmpntqcksearch A:visited {
	COLOR: #ea272a
}
.c332-2 .cntboxbody UL.pdf A:link {
	COLOR: #000
}
.c332-2 .cntboxbody UL.pdf A:hover {
	COLOR: #000
}
#cmpntnewprod A {
	FONT-WEIGHT: bold
}
#cmpntnewprod2 H2 A:link {
	COLOR: #000
}
#cmpntnewprod2 H2 A:visited {
	COLOR: #000
}
#cmpntnewprod2 H2 A:hover {
	COLOR: #000
}
.portal #cmpntselguide .cntboxbody UL A:link {
	COLOR: #000
}
.portal #cmpntselguide .cntboxbody UL A:hover {
	COLOR: #000
}
.cntboxhead {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat right top
}
.cntboxhead H2 {
	FONT-WEIGHT: bold
}
.cntboxhead2 H2 {
	FONT-WEIGHT: bold
}
.cntboxhead2 {
	BORDER-TOP: #bababa 1px solid
}
.cntboxhead H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.cntboxS6 .cntboxhead H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.cntboxhead3 H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.cntboxhead H2 A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.cntboxhead H2 A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.cntboxhead H2 A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.cntboxhead H2 A:hover {
	COLOR: #ea272a; TEXT-DECORATION: underline
}
.cntboxhead H2 A SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/arrow-right.gif) no-repeat left 50%; FLOAT: none; WIDTH: 13px; TEXT-ALIGN: left
}
.cntboxbody H2 SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/arrow-right.gif) no-repeat left 50%; FLOAT: none; WIDTH: 13px; TEXT-ALIGN: left
}
.portalsup H1 SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/arrow-right.gif) no-repeat left 50%; FLOAT: none; WIDTH: 13px; TEXT-ALIGN: left
}
.portalsup H2 SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/arrow-right.gif) no-repeat left 50%; FLOAT: none; WIDTH: 13px; TEXT-ALIGN: left
}
.ticom3 H2 A SPAN {
	FONT-WEIGHT: bold; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/arrow-right.gif) no-repeat left 50%; FLOAT: none; WIDTH: 13px; TEXT-ALIGN: left
}
.ticom3 H2 A SPAN {
	FONT-WEIGHT: normal
}
.portalsup H1 SPAN {
	PADDING-RIGHT: 2px; FONT-WEIGHT: normal
}
.portalsup H2 SPAN {
	PADDING-RIGHT: 2px; FONT-WEIGHT: normal
}
UNKNOWN {
	BACKGROUND-POSITION: 0px 0.4em
}
.cntboxline {
	BORDER-TOP: #fff 0px solid; MARGIN: 0px 4px 0px 0px; BORDER-LEFT: #bababa 0px solid; HEIGHT: 1px
}
.cntboxline2 {
	BACKGROUND-COLOR: #fff
}
.cntboxhead H2 SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 0.9em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; COLOR: #ea272a; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.cntboxbody H1 SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.portal .cntboxbody H2 A:link {
	COLOR: #ea272a
}
.portal .cntboxbody H2 A:visited {
	COLOR: #ea272a
}
.cntboxhead H2 SPAN A:link {
	FONT-SIZE: 1em; COLOR: #ea272a; TEXT-DECORATION: none
}
.cntboxhead H2 SPAN A:visited {
	FONT-SIZE: 1em; COLOR: #ea272a; TEXT-DECORATION: none
}
A.red:link {
	FONT-SIZE: 1em; COLOR: #ea272a; TEXT-DECORATION: none
}
A.red:visited {
	FONT-SIZE: 1em; COLOR: #ea272a; TEXT-DECORATION: none
}
.red A:link {
	FONT-SIZE: 1em; COLOR: #ea272a; TEXT-DECORATION: none
}
.red A:visited {
	FONT-SIZE: 1em; COLOR: #ea272a; TEXT-DECORATION: none
}
.cntboxhead H2 SPAN A:hover {
	COLOR: #ea272a; TEXT-DECORATION: underline
}
.cntboxhead A:hover {
	TEXT-DECORATION: underline
}
A.red:hover {
	TEXT-DECORATION: underline
}
.red A:hover {
	TEXT-DECORATION: underline
}
.cntboxhead SPAN A:hover {
	TEXT-DECORATION: underline
}
.cntboxbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left bottom; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; COLOR: #585858; PADDING-TOP: 5px; HEIGHT: 1%
}
#cmpntprodtree .cntboxbody P {
	COLOR: #000
}
#cmpntprodtree .cntboxbody LI {
	COLOR: #000
}
.cntboxbody H1 {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 0.6em; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 1.1em; BORDER-BOTTOM-WIDTH: 0px; COLOR: #525252; FONT-FAMILY: Verdana, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 0px
}
.cntboxbody H2 {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 0.6em; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 1.1em; BORDER-BOTTOM-WIDTH: 0px; COLOR: #525252; FONT-FAMILY: Verdana, Helvetica, sans-serif; BORDER-RIGHT-WIDTH: 0px
}
.cntboxbody H3 {
	MARGIN-TOP: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #525252
}
.cntboxbody H4 {
	MARGIN-TOP: 0.8em; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #525252
}
#cmpntseealso .cntboxbody H1 {
	FONT-SIZE: 1.2em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#cmpntseealso .cntboxbody H2 {
	FONT-SIZE: 1.2em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.cntboxS3 .cntboxbody H1 {
	FONT-SIZE: 1em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.cntboxS3 .cntboxbody H2 {
	FONT-SIZE: 1em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.cntboxbody P {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 1em
}
.cntboxbody A:link {
	COLOR: #000
}
.cntboxbody A:visited {
	COLOR: #000
}
.c332-2 A:link {
	COLOR: #000
}
.c332-2 A:visited {
	COLOR: #000
}
#cmpnteeqlist A:link {
	COLOR: #000
}
#cmpntseealso .cntboxbody {
	MARGIN-TOP: 15px
}
.cntboxbody A:hover {
	COLOR: #ea272a
}
.resintro {
	MIN-HEIGHT: 110px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/hr-dash-line.gif) repeat-x 50% bottom; MARGIN-BOTTOM: 1.3em; PADDING-BOTTOM: 0.8em; HEIGHT: 110px
}
UNKNOWN {
	HEIGHT: 100%
}
.resintro IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.promoimg {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
#cmpntcnthigh .promoimg {
	PADDING-BOTTOM: 0px
}
.cntboxS3b #cmpntcnthigh .promoimg {
	PADDING-BOTTOM: 5px
}
.promocnt {
	
}
.cntboxS4line {
	BACKGROUND-COLOR: #fff
}
.cntboxS2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #f3f1f1 no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; PADDING-TOP: 0px
}
.cntboxS2 .cntboxhead {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #fff 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 0px solid
}
.cntboxS2 .cntboxhead H2 {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #f3f1f1 no-repeat left top; PADDING-BOTTOM: 10px; MARGIN-LEFT: 0px; BOTTOM: 0px; PADDING-TOP: 10px
}
.cntboxS2 .cntboxbody {
	BORDER-RIGHT: #ea272a 0px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ea272a 0px solid; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left bottom; PADDING-BOTTOM: 1em; BORDER-LEFT: #ea272a 0px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ea272a 0px solid
}
.portal .cntboxS2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; PADDING-TOP: 0px
}
.cntboxS2b {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat right bottom; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; PADDING-TOP: 0px
}
.portal .cntboxS2 .cntboxhead {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ea272a 1px solid
}
.cntboxS2b .cntboxhead {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ea272a 1px solid
}
.cntboxS2b .cntboxhead {
	BORDER-BOTTOM: #bababa 1px solid
}
.portal .cntboxS2 .cntboxhead H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cntboxS2b .cntboxhead H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.portal .cntboxS2 .cntboxbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #f3f1f1 no-repeat left bottom; PADDING-BOTTOM: 0.5em; MARGIN: 0px; COLOR: #000; PADDING-TOP: 1em
}
.cntboxS2b .cntboxbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #f3f1f1 no-repeat left bottom; PADDING-BOTTOM: 0.5em; MARGIN: 0px; COLOR: #000; PADDING-TOP: 1em
}
.portal .cntboxS2 .cntboxbody P {
	MARGIN: 3px 0px
}
.cntboxS2b .cntboxbody P {
	MARGIN: 3px 0px
}
.portal .cntboxS2 .cntboxbody P {
	COLOR: #000
}
.portal .cntboxS2 .cntboxbody LI {
	COLOR: #000
}
.cntboxS2b .cntboxbody P {
	COLOR: #000
}
.cntboxS2b .cntboxbody LI {
	COLOR: #000
}
.portal .cntboxS2 .cntboxbody DL {
	MARGIN: 3px 0px
}
.cntboxS2b .cntboxbody DL {
	MARGIN: 3px 0px
}
.portal .cntboxS2 .cntboxbody DD {
	MARGIN: 3px 0px
}
.cntboxS2b .cntboxbody DD {
	MARGIN: 3px 0px
}
.cntboxS3 {
	BORDER-RIGHT: #acacac 0px solid; BORDER-TOP: #acacac 0px solid; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #f3f1f1 no-repeat right bottom; MARGIN: 0px 0px 20px; BORDER-LEFT: #acacac 0px solid; BORDER-BOTTOM: #acacac 0px solid
}
.cntboxS3 .cntboxhead {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat right top
}
.cntboxS3 .cntboxhead3 {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat right top
}
.cntboxS3 .cntboxhead H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left top; PADDING-BOTTOM: 0.4em; MARGIN: 0px; PADDING-TOP: 0.1em; HEIGHT: 1px
}
.cntboxS3 .cntboxhead3 H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left top; PADDING-BOTTOM: 0.2em; MARGIN: 0px; PADDING-TOP: 0.5em; HEIGHT: 1px
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 1em; PADDING-TOP: 0.5em
}
.cntboxS3 .cntboxbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left bottom; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.cntboxS3b {
	BORDER-RIGHT: #acacac 0px solid; BORDER-TOP: #acacac 0px solid; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat right bottom; MARGIN: 0px 0px 20px; BORDER-LEFT: #acacac 0px solid; BORDER-BOTTOM: #acacac 0px solid
}
.cntboxS3b .cntboxhead {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat right top
}
.cntboxS3b .cntboxhead H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 1px
}
UNKNOWN {
	HEIGHT: 1px
}
.cntboxS3b .cntboxbody {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.cntboxS3b .cntboxbody H2 {
	MARGIN-TOP: 3px
}
.cntboxS3c {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat right bottom; MARGIN: 0px 0px 20px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.cntboxS3c .cntboxhead {
	BORDER-TOP: #eae9e9 0px solid; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat right top
}
.cntboxS3c .cntboxhead H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat left top; PADDING-BOTTOM: 0.4em; MARGIN: 0px; PADDING-TOP: 0.4em; HEIGHT: 1%
}
.cntboxS3c .cntboxbody {
	PADDING-RIGHT: 0px; BORDER-TOP: #eae9e9 0px solid; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat left bottom; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.cntboxS3c .cntboxbody H2 {
	MARGIN-TOP: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat left top
}
UNKNOWN {
	HEIGHT: 100%
}
.cntboxS4 {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 0px solid; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #f3f1f1; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; BORDER-LEFT: #fff 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 0px solid
}
.cntboxS4 .cntboxhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ea272a 1px solid
}
.cntboxS4 .cntboxbody {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 10px; BORDER-TOP: 0px; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0.5em; BORDER-BOTTOM: 0px
}
.cntboxS4 .cntboxhead H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 1.2em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; BOTTOM: 0px; PADDING-TOP: 0px
}
#cmpntgetsrt .cntboxhead {
	MARGIN-TOP: 10px; BORDER-BOTTOM: 0px
}
#cmpntdsnsuprt .cntboxhead {
	MARGIN-TOP: 10px; BORDER-BOTTOM: 0px
}
.portal .cntboxS4shad {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) right bottom
}
.portal .cntboxS4 {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 0px solid; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; BORDER-LEFT: #fff 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 0px solid
}
.portal .cntboxS4 .cntboxbody {
	BORDER-RIGHT: #ea272a 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ea272a 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 1em; BORDER-LEFT: #ea272a 1px solid; LINE-HEIGHT: 1.3em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ea272a 1px solid
}
.portal .cntboxS4 .cntboxbody LI {
	COLOR: #000
}
.portal .cntboxS4 .cntboxhead {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) no-repeat right top; PADDING-BOTTOM: 0px; MARGIN: -1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid
}
.portal .cntboxS4 .cntboxhead H2 {
	DISPLAY: inline; PADDING-LEFT: 4px; FONT-SIZE: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif) #fff no-repeat left top; MARGIN-LEFT: -3px; COLOR: #ea272a; BOTTOM: -5px; LINE-HEIGHT: 1.3em; POSITION: relative
}
#cmpntcnthilite {
	WIDTH: 500px
}
#cmpntcnthilite2 {
	
}
#cmpntcnthilite2 H1 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 0px; FONT-SIZE: 1.2em; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#cmpntcnthilite .cntboxbody {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0.6em
}
#cmpntcnthilite P {
	PADDING-BOTTOM: 0.4em; MARGIN: 0px
}
.cntboxS5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px; PADDING-TOP: 0px
}
.cntboxS5 .cntboxhead {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif)
}
.cntboxS5 .cntboxhead H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0.6em; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
.cntboxS5 .cntboxbody H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0.6em; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px
}
.portal .cntboxS5 .cntboxbody H2 {
	COLOR: #ea272a
}
.cntboxS5 .cntboxbody {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 1%
}
.cntboxS5 .cntboxbody H1 {
	MARGIN-TOP: 0px
}
.cntboxS5 .cntboxbody H4 {
	MARGIN-TOP: 0px
}
#rightcol #cmpntgetsrt .cntboxbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.cntboxS6 {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/cnt-box-style3-body-right.gif) #fff no-repeat right bottom; MARGIN: 0px
}
.cntboxS6 .cntboxhead {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/cnt-box-style3-head-right.gif) no-repeat right top
}
.cntboxS6 .cntboxhead H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/cnt-box-style3-head-left.gif) no-repeat left top; PADDING-BOTTOM: 0.4em; MARGIN: 0px; PADDING-TOP: 0.3em; HEIGHT: 1px
}
.cntboxS6 .cntboxbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/cnt-box-style3-body-left.gif) no-repeat left bottom; PADDING-BOTTOM: 15px; PADDING-TOP: 5px
}
IMG.cntboxhdimg1 {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/cntboxhdimg1.gif) #e2e2e2 no-repeat; WIDTH: 115px; HEIGHT: 22px
}
#cntboxrss {
	MARGIN: 0px 12px
}
#cntboxrss P {
	MARGIN: 0px
}
.paraStatLg {
	FONT-WEIGHT: normal; COLOR: #999
}
#cmpntprodtree UL LI LI LI {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 0.9em; LINE-HEIGHT: 1em
}
#cmpnteeqmarket LI LI {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 0.9em; LINE-HEIGHT: 1em
}
#cmpntnav LI LI LI {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 0.9em; LINE-HEIGHT: 1em
}
UNKNOWN {
	BACKGROUND-POSITION: 0.7em 0.9em
}
#cmpntprodtree UL LI A.active {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 0.7em; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.7em; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -0.7em; BORDER-LEFT: #ccc 0px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 14px
}
#cmpnteeqmarket UL LI A.active {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 0.7em; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.7em; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -0.7em; BORDER-LEFT: #ccc 0px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 14px
}
#cmpnteeqcat UL LI A.active {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 0.7em; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.7em; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -0.7em; BORDER-LEFT: #ccc 0px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 14px
}
#cmpnteeqresources UL LI A.active {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 0.7em; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.7em; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -0.7em; BORDER-LEFT: #ccc 0px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 14px
}
#cmpntnav UL LI A.active {
	BORDER-RIGHT: #ccc 0px solid; PADDING-RIGHT: 0.7em; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 0.7em; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -0.7em; BORDER-LEFT: #ccc 0px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 14px
}
#cmpntprodtree UL LI A.active:hover {
	COLOR: #ea272a
}
#cmpnteeqmarket UL LI A.active:hover {
	COLOR: #ea272a
}
#cmpnteeqcat UL LI A.active:hover {
	COLOR: #ea272a
}
#cmpnteeqresources UL LI A.active:hover {
	COLOR: #ea272a
}
#cmpntnav UL LI A.active:hover {
	COLOR: #ea272a
}
UNKNOWN {
	HEIGHT: auto
}
#cmpntprodtree UL LI LI A.active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.6em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -1.6em; PADDING-TOP: 2px
}
#cmpnteeqcat UL LI LI A.active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.6em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -1.6em; PADDING-TOP: 2px
}
#cmpnteeqmarket UL LI LI A.active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.6em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -1.6em; PADDING-TOP: 2px
}
#cmpntnav UL LI LI A.active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.6em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -1.6em; PADDING-TOP: 2px
}
#cmpntprodtree UL LI LI LI A.active {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 2.6em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 1.9em 0.7em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -2.5em; PADDING-TOP: 2px
}
#cmpnteeqcat UL LI LI LI A.active {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 2.6em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 1.9em 0.7em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -2.5em; PADDING-TOP: 2px
}
#cmpnteeqmarket UL LI LI LI A.active {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 2.6em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 1.9em 0.7em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -2.5em; PADDING-TOP: 2px
}
#cmpnteeqmarket UL LI LI A.active {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 2.6em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 1.9em 0.7em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -2.5em; PADDING-TOP: 2px
}
#cmpntnav UL LI LI LI A.active {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 2.6em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 1.9em 0.7em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -2.5em; PADDING-TOP: 2px
}
#cmpnteeqmarket UL LI LI A.active {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 1.6em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 1em 0.6em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.1em 0px -1.6em; PADDING-TOP: 2px
}
UNKNOWN {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 1em 0.6em
}
UNKNOWN {
	PADDING-LEFT: 2.55em; MARGIN-LEFT: -2.55em
}
#cmpntprodtree UL LI LI LI LI A.active {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 3.6em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 3em 0.7em; PADDING-BOTTOM: 2px; MARGIN: 0px -0.5em 0px -3.6em; PADDING-TOP: 2px
}
UNKNOWN {
	PADDING-LEFT: 3.5em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) #fff no-repeat 2.8em 0.7em; MARGIN-LEFT: -3.5em
}
#cmpntnewprod UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntfeatprod UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntfindprod UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntmytienews UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntnewprod LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
#cmpntfeatprod LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
#cmpntfindprod LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
#cmpntmytienews LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 1em; PADDING-TOP: 0px
}
#cmpntprodtree UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpnteeqmarket UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntnav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpnteeqcat UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: #666; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntprodtree LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
#cmpnteeqmarket LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
#cmpntnav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
#cmpnteeqcat LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
#cmpnteeqmarket LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
#cmpntnav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
#cmpntprodtree LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#cmpnteeqmarket LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#cmpntnav LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
#cmpntprodtree LI LI LI {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); LINE-HEIGHT: 1em
}
#cmpntprodtree .cntboxbody {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 10px; PADDING-BOTTOM: 1.3em; PADDING-TOP: 1em
}
#cmpntmytienews .cntboxbody {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 10px; PADDING-BOTTOM: 1.3em; PADDING-TOP: 1em
}
#cmpntnewprod2 .cntboxbody {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0px; PADDING-BOTTOM: 1.3em; PADDING-TOP: 1em
}
#cmpnteeqmarket .cntboxbody {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 10px; PADDING-BOTTOM: 1.1em; PADDING-TOP: 0.5em
}
#cmpnteeqcat .cntboxbody {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 10px; PADDING-BOTTOM: 1.1em; PADDING-TOP: 0.5em
}
#cmpntnav .cntboxbody {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 10px; PADDING-BOTTOM: 1.1em; PADDING-TOP: 0.5em
}
UL.none {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.pdf {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntselguide UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntappnotes UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.pdf UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.none UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.pdf LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.5em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-pdf.gif) no-repeat 0px 0.4em; PADDING-BOTTOM: 0.6em; PADDING-TOP: 0.3em
}
#cmpntselguide LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.5em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-pdf.gif) no-repeat 0px 0.4em; PADDING-BOTTOM: 0.6em; PADDING-TOP: 0.3em
}
#cmpntappnotes LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.5em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-pdf.gif) no-repeat 0px 0.4em; PADDING-BOTTOM: 0.6em; PADDING-TOP: 0.3em
}
UNKNOWN {
	BACKGROUND-POSITION: 0px 0.4em
}
UL.none LI {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif)
}
UL.pdf .abstract {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-sm-circle.gif) no-repeat 0.6em 0.8em
}
#cmpntselguide UL .abstract {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-sm-circle.gif) no-repeat 0.6em 0.8em
}
#cmpntappnotes UL .abstract {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-sm-circle.gif) no-repeat 0.6em 0.8em
}
UL.redarw {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.redarw UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.arrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.arrow UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntpromo UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntcnthilite UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntheadline UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntcnthigh UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntbrowseapps UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntdsgnsupp UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntlearnabtti UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntgetsamples UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntcntctsuprt UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntsearchti UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntsrchtool UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntseealso UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#cmpntgetsrt UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.redarw LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
UL.arrow LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntpromo LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntcnthilite LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntheadline LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntcnthigh LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpnteeqresources UL.redarw LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntbrowseapps LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntdsgnsupp LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntlearnabtti LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntgetsamples LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntsearchti LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntsrchtool LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntseealso LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
#cmpntgetsrt LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.2em
}
UNKNOWN {
	BACKGROUND-POSITION: 0.2em 0.6em
}
#cmpntseealso LI {
	PADDING-BOTTOM: 0.2em
}
#cmpntbrowseapps LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.2em
}
#cmpntdsgnsupp LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.2em
}
#cmpntlearnabtti LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.2em
}
#cmpntgetsamples LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.2em
}
#cmpntcntctsuprt LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.2em
}
#cmpntsearchti LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-arrow2.gif) no-repeat 0.2em 0.6em; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.2em
}
UL.redarw LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpnteeqcat LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
UL.arrow LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntpromo LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntheadline LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntcnthigh LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpnteeqresources UL.redarw LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntbrowseapps LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntdsgnsupp LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntlearnabtti LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntgetsamples LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntcntctsuprt LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntsearchti LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntsrchtool LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.4em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 1.2em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.7em
}
#cmpntgetsrt UL LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.3em 0.9em; PADDING-BOTTOM: 0.3em; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.4em
}
UL.rss LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.3em 0.9em; PADDING-BOTTOM: 0.3em; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.4em
}
UL.pdf LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.3em 0.9em; PADDING-BOTTOM: 0.3em; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.4em
}
#cmpntseealso LI LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.3em 0.9em; PADDING-BOTTOM: 0.3em; MARGIN: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0.4em
}
UNKNOWN {
	BACKGROUND-POSITION: 0.6em 1.2em
}
#cmpntgetsrt LI {
	PADDING-BOTTOM: 0.3em
}
UL.rss {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.rss LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.5em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-rss.gif) no-repeat 0px 0.4em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.3em
}
UNKNOWN {
	BACKGROUND-POSITION: 0px 0.4em
}
UL.nobullet {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.nobullet UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.nobullet LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/none.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0.4em
}
UL.nobullet LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
UL.nobullet LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.9em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
UL.alert {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.alert LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1.8em; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/alerticon.gif) no-repeat 0px 0.1em; PADDING-BOTTOM: 0.7em; PADDING-TOP: 0.3em
}
UL.alert LI LI {
	BACKGROUND: url(http://focus.ti.com/graphics/shared/css/ul-dash.gif) no-repeat 0.8em 0.7em; LINE-HEIGHT: 1em
}
.pullquote {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(http://focus.ti.com/graphics/shared/css/pulse-hd-pullquote-bg.jpg) no-repeat; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.pullquote H3 {
	MARGIN-TOP: 0px
}
.portal .cntboxhead H2 {
	FONT-SIZE: 1.4em; COLOR: #ea272a
}
.portal .cntboxhead H3 {
	COLOR: #ea272a
}
.portal .cntboxbody H3 {
	COLOR: #ea272a
}
.portalsup UL LI A:link {
	COLOR: #000
}
.portalsup P.anchorlink A:link {
	COLOR: #000
}
.portalsup H1 A:visited {
	COLOR: #ea272a
}
.portalsup H2 A:visited {
	COLOR: #ea272a
}
.portal .cntboxhead H2 A:link {
	COLOR: #ea272a
}
.portal .cntboxhead H2 A:visited {
	COLOR: #ea272a
}
.portal .cntboxhead H2 A:active {
	COLOR: #ea272a
}
.portal .cntboxbody H3 A:link {
	COLOR: #ea272a
}
.portal .cntboxbody H3 A:visited {
	COLOR: #ea272a
}
.portal .cntboxhead H3 A:link {
	COLOR: #ea272a
}
.portal .cntboxhead H3 A:visited {
	COLOR: #ea272a
}
.portal .cntboxhead H2 A:hover {
	COLOR: #ea272a; TEXT-DECORATION: underline
}
.portal .cntboxbody H3 A:hover {
	COLOR: #ea272a; TEXT-DECORATION: underline
}
.cntboxbody H1 A:link {
	TEXT-DECORATION: none
}
.cntboxbody H1 A:visited {
	TEXT-DECORATION: none
}
.cntboxbody H2 A:link {
	TEXT-DECORATION: none
}
.cntboxbody H2 A:visited {
	TEXT-DECORATION: none
}
.cntboxhead H1 A:link {
	TEXT-DECORATION: none
}
.cntboxhead H1 A:visited {
	TEXT-DECORATION: none
}
.cntboxhead H2 A:link {
	TEXT-DECORATION: none
}
.cntboxhead H2 A:visited {
	TEXT-DECORATION: none
}
.cntboxbody H3 A:link {
	TEXT-DECORATION: none
}
.cntboxbody H2 A:visited {
	TEXT-DECORATION: none
}
.cntboxbody H4 A:link {
	TEXT-DECORATION: none
}
.cntboxbody H4 A:visited {
	TEXT-DECORATION: none
}
.cntboxbody H1 A:hover {
	TEXT-DECORATION: underline
}
.cntboxbody H2 A:hover {
	TEXT-DECORATION: underline
}
.cntboxbody H3 A:hover {
	TEXT-DECORATION: underline
}
.cntboxbody H4 A:hover {
	TEXT-DECORATION: underline
}
.cntboxhead H2 A:hover {
	TEXT-DECORATION: underline
}
.cntboxhead2 H2 A:hover {
	TEXT-DECORATION: underline
}
