A {
	TEXT-TRANSFORM: none; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 9pt; LINE-HEIGHT: 20px; FONT-FAMILY: "??"
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "??"
}
A:link {
	COLOR: #000099; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000099; TEXT-DECORATION: underline
}
A:active {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
A.a01:link {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.a01:active {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.a01:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.a02:link {
	FONT-SIZE: 12px; COLOR: #ff0101; TEXT-DECORATION: none
}
A.a02:visited {
	FONT-SIZE: 12px; COLOR: #ff0101; TEXT-DECORATION: none
}
A.a02:active {
	FONT-SIZE: 12px; COLOR: #ff00ff; TEXT-DECORATION: underline
}
A.a02:hover {
	FONT-SIZE: 12px; COLOR: #ff00ff; TEXT-DECORATION: underline
}
A.a03:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
A.a03:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-DECORATION: none
}
A.a03:active {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a03:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.a05:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.a05:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A.a05:active {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
A.a05:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline
}
.b21 {
	LINE-HEIGHT: 21px
}
.b14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; TEXT-INDENT: 5px; PADDING-TOP: 2px
}
.b15 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; TEXT-INDENT: 5px; PADDING-TOP: 2px
}
.b16 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-INDENT: 5px; PADDING-TOP: 2px
}
.b17 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-INDENT: 5px; PADDING-TOP: 2px
}
.ys_white {
	FONT-SIZE: 12px; COLOR: #0000ff
}
.td_4bian {
	BORDER-RIGHT: #abb0c0 1px solid; BORDER-TOP: #abb0c0 1px solid; BORDER-LEFT: #abb0c0 1px solid; BORDER-BOTTOM: #abb0c0 1px solid
}
.td_5bian {
	BORDER-RIGHT: #a1dc9a 1px solid; BORDER-TOP: #a1dc9a 1px solid; BORDER-LEFT: #a1dc9a 1px solid; BORDER-BOTTOM: #a1dc9a 1px solid
}
.td_6bian {
	BORDER-RIGHT: #8ea1df 1px solid; BORDER-TOP: #8ea1df 1px solid; BORDER-LEFT: #8ea1df 1px solid; BORDER-BOTTOM: #8ea1df 1px solid
}
.td_7bian {
	BORDER-RIGHT: #f3b308 1px solid; BORDER-TOP: #f3b308 1px solid; BORDER-LEFT: #f3b308 1px solid; BORDER-BOTTOM: #f3b308 1px solid
}
.td_topbian {
	BORDER-TOP: #890c0c 2px solid; BORDER-LEFT-COLOR: #890c0c; BORDER-BOTTOM-COLOR: #890c0c; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #e4e6e6; BORDER-RIGHT-COLOR: #890c0c; BORDER-BOTTOM-STYLE: none
}
.td_bak-topbian {
	BORDER-TOP: #1e9802 2px solid; BORDER-LEFT-COLOR: #1e9802; BORDER-BOTTOM-COLOR: #1e9802; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #b7eeaa; BORDER-RIGHT-COLOR: #1e9802; BORDER-BOTTOM-STYLE: none
}
.td_cgk-topbian {
	BORDER-TOP: #133cc1 2px solid; BORDER-LEFT-COLOR: #133cc1; BORDER-BOTTOM-COLOR: #133cc1; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #bcd8ff; BORDER-RIGHT-COLOR: #133cc1; BORDER-BOTTOM-STYLE: none
}
.td_zlk-topbian {
	BORDER-TOP: #fb9005 2px solid; BORDER-LEFT-COLOR: #fb9005; BORDER-BOTTOM-COLOR: #fb9005; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffeeb4; BORDER-RIGHT-COLOR: #fb9005; BORDER-BOTTOM-STYLE: none
}
TABLE#aa TD {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM: #999999 1pt solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
