.leftlkTxt {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.blktxt {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.redtxt {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.blutxt {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.smalltxt {
	FONT-SIZE: 12px
}
.whitetxt {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.99txt {
	FONT-SIZE: 12px; COLOR: #000099; TEXT-DECORATION: none
}
.htxt {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
